* {
    font-family: Gilroy;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-size: 16px;
}
::-moz-selection {
    /* Code for Firefox */
    color: #f2a900;
    background: #0e1f3f;
}

::selection {
    color: #f2a900;
    background: #0e1f3f;
}
